useDynLib(SpaCCI, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")


importFrom(nnls, nnls)
importFrom(ggrepel, geom_text_repel)
importFrom(circlize, chordDiagram)
importFrom(Matrix, Matrix)
importFrom(Seurat, SpatialFeaturePlot)
import(Seurat) 
importFrom(dplyr, filter, group_by, summarise, left_join, mutate, arrange, rename, "%>%")
importFrom(patchwork, wrap_plots)
importFrom(grDevices, colorRampPalette)
importFrom(reshape2, acast)
importFrom(graphics, title, strwidth)
importFrom(stats, p.adjust)
importFrom(utils, head, read.csv, read.delim, setTxtProgressBar, txtProgressBar)
importFrom(ggplot2, ggplot, aes, geom_point, scale_color_gradient2, labs, xlim, ylim, theme, margin, element_rect, element_blank, element_text, unit)
